.footer {
	position: relative;
	background-color: #06b2bb;
	&__logo.logo {
		width: 200px;
		height: 48px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 193px;
	}

	// .footer__address

	&__address {
		width: 188px;
		font-size: 12px;
		font-weight: 500;
		color: $white;
		text-align: end;
	}
}
