input,
textarea {
	outline: 0;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}
input:required:valid,
textarea:required:valid {
	border-color: green;
}

.lost-page {
	// .lost-page__form

	&__form {
		width: 100%;
		display: grid;
		grid-template-columns: minmax(200px, 320px) 1fr;
		gap: 25px;
		@include media-breakpoint-down(sm) {
			grid-template-columns: 1fr;
			gap: 0;
		}
	}
	// .page-content__items

	&__items {
		&:last-child {
			margin-top: 25px;
			border-top: 1px solid #bababa;
			width: 100%;
			grid-column: 1 / span 2;
			@include media-breakpoint-down(sm) {
				grid-column: 1 / span 1;
				.lost-page__item {
					margin-top: 15px;
					
				}
			&__item-container {
				flex: 1 1 50%;
			}	

			}
			.lost-page__item {
				&:first-child {
					padding: 35px 0 28px 0;	
					input:not(:last-child) {
						margin-right: 15px;
						margin-bottom: 15px;
					}
					@include media-breakpoint-down(sm) {
						flex-direction: row;
						padding: 0;
						input {
							flex: 0 1 55%;
						}
					}
				}
				&:last-child {
					justify-content: flex-end;
					@include media-breakpoint-down(sm) {
						justify-content: center;
						.button::before {
							margin-right: 20px;
						}
					}
				}
			}
		}
		&.items-img {
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}

	// .page-content__item

	&__item {
		display: flex;
		margin-bottom: 8px;
		align-items: flex-start;
		label {
			flex: 0 0 75px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: flex-end;
			text-align: end;
			margin-top: 3px;
			font-size: 12px;
			font-weight: 500;
			color: #393939;
			margin-right: 19px;
			line-height: 14px;

			span {
				display: block;
				color: lighten(#06b2bb, 10%);
				font-size: 10px;
			}
		}
		input {
			flex: 1 1 100%;
			font-size: 12px;
			line-height: 14px;
			color: #444444;
			font-weight: 500;
			border-top: none;
			border-right: none;
			border-left: none;
			border-bottom: 1px solid lighten(#06b2bb, 10%);
			outline: none;
			overflow: hidden;
			-moz-appearance: none;
			&:active {
				color: #2980b9;
			}
			&:focus {
				color: #444444;
			}
			@include media-breakpoint-down(sm) {
				flex: 1 1 58%;
			}
			@media (max-width: 335px) {
				flex: 0 1 57%;
			}
		}
		::-webkit-input-placeholder {
			opacity: 1;
			transition: opacity 0.3s ease;
			color: rgb(182, 182, 182);
		}
		::-moz-placeholder {
			opacity: 1;
			transition: opacity 0.3s ease;
			color: rgb(182, 182, 182);
		}
		:-moz-placeholder {
			opacity: 1;
			transition: opacity 0.3s ease;
			color: rgb(182, 182, 182);
		}
		:-ms-input-placeholder {
			opacity: 1;
			transition: opacity 0.3s ease;
			color: rgb(182, 182, 182);
		}
		::placeholder {
			opacity: 1;
			transition: opacity 0.3s ease;
			color: rgb(182, 182, 182);
		}
		:focus::-webkit-input-placeholder {
			opacity: 0;
			transition: opacity 0.3s ease;
		}
		:focus::-moz-placeholder {
			opacity: 0;
			transition: opacity 0.3s ease;
		}
		:focus:-moz-placeholder {
			opacity: 0;
			transition: opacity 0.3s ease;
		}
		:focus:-ms-input-placeholder {
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		select {
			@extend input;
			color: #393939;
			border-bottom: none;
			flex: 0 0 120px;
		}
		textarea {
			margin: 0;
			width: 100%;
			padding: 5px;
			font-family: "Montserrat", sans-serif;
			font-size: 12px;
			font-weight: 500;
			color: #bababa;
			margin-bottom: 25px;
			border: 1px solid #1cb1ba;
			resize: none;
			@include media-breakpoint-down(sm) {
				margin-bottom: 0;
			}
			@media (max-width: 335px) {
				width: 57%;
			}
		}
	}
}