.welcome {
	position: relative;
	width: 100%;

	// .welcome__row

	&__row {
		display: flex;
		justify-content: center;
	}

	// .welcome__content

	&__content {
		flex: 1 0 450px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	// .welcome__title

	&__title {
		max-width: 490px;
		font-size: 56px;
		align-self: flex-end;
		margin-bottom: 50px;
		span {
			color: $darkBlue;
		}
	}

	&__logo {
		width: 79px;
		margin-bottom: -17px;
		img {
			display: block;
			width: 100%;
		}
	}

	&__img-container {
		flex: 0 0 50%;
		align-self: center;
	}
	// .welcome__img

	&__img {
		max-width: 490px;
		img {
			display: block;
			width: 100%;
		}
	}

	&__button-container {
		position: relative;
		overflow: hidden;
	}

	// .welcome__button

	&__button {
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 32px;
		height: 93px;
		border-bottom-right-radius: 47px;
		border-top-right-radius: 47px;
		text-decoration: none;
		color: inherit;
		transition: background-color 0.3s ease-in-out;
		&:not(:last-child) {
			margin-bottom: 14px;
		}
		p {
			margin-bottom: 0;
			margin-right: 80px;
		}

		@media (any-hover: hover) {
			.content-top {
				position: relative;
				opacity: 1;
				transition: opacity 0.3s ease-in-out;
			}
			.content-bottom {
				font-size: 0;
				position: absolute;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
			}
			&:hover {
				.content-top {
					font-size: 0;
					position: absolute;
					opacity: 0;
				}

				// .welcome__button-content-bottom

				.content-bottom {
					font-size: 32px;
					position: relative;
					opacity: 1;
				}
			}
		}
		@media (any-hover: none) {
			.content-top {
				animation-name: pulse;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-direction: alternate-reverse;
			}
			.content-bottom {
				animation-name: pulse2;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-direction: alternate-reverse;
			}

			@keyframes pulse {
				0% {
					position: relative;
					opacity: 1;
				}

				100% {
					opacity: 0;
					visibility: hidden;
					position: absolute;
				}
			}
			@keyframes pulse2 {
				0% {
					position: absolute;
					opacity: 0;
				}
				100% {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.button-lost {
		background-color: $red;
		margin-right: 130px;
		color: $textcolor;
		@media (any-hover: hover) {
			&:hover {
				background-color: $yellow;
			}
		}
	}
	.button-pet {
		background-color: $darkBlue;
		margin-right: 201px;
		margin-bottom: 45px;
		color: $white;
	}
	&__info-link {
		text-align: end;
		margin-right: 60px;
	}
}

.banner {
	position: relative;
	width: 100%;
	background-color: $darkBlue;
	margin-bottom: 55px;
	// .banner__row

	&__row {
		display: flex;
		align-items: center;
		height: 260px;
		font-size: 32px;
		color: $white;
	}

	// .banner__container

	&__container {
		max-width: 750px;
		margin: 0 auto;
	}
}


.block-info {
	position: relative;
	width: 100%;
	margin-bottom: 70px;

	// .block-info__column

	&__column {
		display: flex;
		align-items: center;
	}

	// .block-info__img

	&__img {
		flex: 0 0 480px;
		img {
			width: 100%;
		}
	}

	// .block-info__title

	&__title {
		font-size: 24px;
		font-weight: 600;
		color:$darkBlue;
		margin-bottom: 43px;
	}

	// .block-info__list

	&__list {
		display: block;
		font-size: 18px;
		list-style: none;
		padding: 0;
		li {
			display: flex;
			align-items: flex-start;
			position: relative;
			&::before {
				content: '';
				display: block;
				flex: 0 0 14px;
				width: 14px;
				height: 14px;
				background-color: #63B5B5;
				border-radius: 50%;
				margin-right: 18px;	
				margin-top: 8px;			
			}
		}
	}

	// .block-info__info-link

	&__info-link {
		margin-left: 30px;
	}
}
.info-link {
	font-size: 16px;
	a {
		font-weight: 800;
		color: #63B5B5;
		text-transform: uppercase;
		transition:  1.3s ease-in-out ;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}
